* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #B7E0FF;
    height: 95vh;
    padding: 25px;
}

#submit {
    height: 1.5rem;
    width: 5rem;
    border-radius: 5px;
    border: none;
    background-color: #337ab1;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(113, 62, 161);
}